body {        
        background-color:whitesmoke;
        /*background-image:
        url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png')*/;
}

h1 {
        color: #46484c;
        text-align: center;
}

p {
        color: #8b8b8bcc;
        font-family: verdana;
}

button {
        color: #fff;
        background-color: #025157;
}
    
    /* *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        margin: arriba, izquierda, abajo, derecha
    } 
 */
.fixed-header{
        position: fixed;
        background-color: rgb(172, 168, 164);
        top: 0%;
        left: 0%;
        right: 0%;
}

main {
    margin-top: 28px;
    text-align: center;
}

.header {
        margin: 40px 20px 0px 40px;
        font-size: 0;
        line-height: 45px;
        font-family: sans-serif;
} 

li{
        display: inline;
}

.header > * {
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        height: 100%;
        line-height: 45px;
}

.logo {
        width:15%;
}

.navbar {
        width: 70%;
        text-align: left;
        color: #025157;
}

.menu {
        display: inline;
        margin-right: 25px;
        margin-left: 25px;
}

.actions {
        width: 15%;
        text-align: left;
        font-size: 14px;
}

.actions a {
        color: #67b54b
}

.actions button {
        color: white;
        background-color: #64b54b;
        padding: 12px 14px;
        border: 0;
        border-radius: 5px;
}

.promo {
        display: flex;
        width: 70%;
        margin 100px auto;
        align-items: center;
}

.publish {
        margin-left: 20px;
}

.publish h3 {
        color:#025157;
        font-family: Helvetica;
        font-size: 30px;
        line-height: 48px;
}

.publish > p {
        color: #343434;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
}

.publish > form {
        display:flex;
}

.publish > form p {
        color: #025157;
        margin-right: 18px;
}

.video-imagen {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.video-imagen img {
        width: 120px;
        margin-top: 10px;
}

.postwork {
    background-color: #a1d683;
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
}

.postwork .texto-imagen{
    padding-right: 100px;
    flex: 2;
}

.postwork .texto-imagen h3 {
    color: #025157;
    font-size: 51px;
    line-height: 61px;
}

.postwork .texto-imagen p{
    color:#343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.postwork button {
    font-size: 14px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    padding: 9px,12px;
    margin-left: 0;
}

.postwork .texto-imagen img {
    width: 500px;
    max-width: 100%;
}

.postwork .tarjeta{
    background-color: aliceblue;
    border-radius: 10px;
    flex: 1;
    position: relative;
    display: flexbox;
}

.postwork .tarjeta .imagenes{
    position: unset;
    max-width: 370px;
    background-color: #fff;
    border-radius: 10px;
}

.postwork .tarjeta .imagenes .colaborador{
    position: relative;
}

.postwork .tarjeta .imagenes .colaborador figure{
    margin: 0;
}

.postwork .tarjeta .imagenes .colaborador img{
    width: 100%;
    max-height: 16vw;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

.postwork .tarjeta .imagenes .compañia{
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.postwork .tarjeta .imagenes .compañia{
    max-width: 75%;
}

.postwork .tarjeta .cuerpo-tarjeta{
    padding: 25px;
}

.postwork .tarjeta .cuerpo-tarjeta h4{
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.postwork .tarjeta .cuerpo-tarjeta h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.postwork .tarjeta .resultados{
    display: flex;
    align-items: center;    
}

.postwork .tarjeta .resultados img{
    width: 26px;
    margin-right: 20px;
    padding: 0 0 0 20px;
}

.postwork .tarjeta .resultados p{
    margin-top: 0%;
}

.postwork .tarjeta .final-tarjeta{
    margin-top: 20px;
    padding: 25px;
}

.postwork .tarjeta .final.tarjeta button{
    padding: 12px 20px;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
}

.features {
    display:grid;
    grid-template: repeat(2,330px)/repeat(2,1fr);
    background-color: #025157;
    margin-top: 10px;
    padding: 5% 10%;
    /*grid-template-columns: 300px 300px;
    height: 660px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);*/
    /*grid-template-columns: 500px 1fr;*/
    /*grid-template-columns: 1fr 1fr;*/
}

/*.feature-art {
    background-color: lightcyan;
    margin: 10px;
    width: 500px;
    height: 400px;
}*/

.features .feature-art{
    display:flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dadada;
    margin: 0px 15px 30px 15px;    
}

.features .feature-art .contenido{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-art .contenido > * {
    margin-bottom: 1rem;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
}

.features .feature-art .contenido h2{
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.features .feature-art .contenido p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features .feature-art .contenido a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-art .contenido img{
    width:50px;
}

.features .feature-art .imagen{
    flex:1;
    width: 40%;
    position: relative;
    right: -50xp;
    height: 80%;
}

.features .feature-art .imagen figure{
    margin-top: 0%;
    height: 100%;
}

.features .feature-art .imagen img{
    margin-top: 0%;
    height: 100%;
}